.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 1rem 7% ;

    
    &__logo {

    }
    nav {
        width: 100% !important;
    }

    &__menu {
        display: flex;
        align-items: center;
        
        &-item {
            a {
                padding: .6rem 1rem;
                color: $light-text-color;
                transition: .2s;

                &:hover {
                    color: black
                }
            }

            button {
                @include btn-start;
                float: right;
            }
            
            &:last-child {
                flex-grow: 1;
            }
        }
    }
}