.header {
    box-sizing: border-box;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 1rem 7% ;

    
    &__logo {

    }
    &__menu-container {
        width: 100% ;

        .menu-mobile {
            display: none;
        }

        .header__menu {
            display: flex;
            align-items: center;
            
            &-item {
                a {
                    padding: .6rem 1rem;
                    color: $light-text-color;
    
                    &:hover {
                        color: black
                    }
                }
    
                button {
                    @include btn-start;
                    float: right;
                }
                
                &:last-child {
                    flex-grow: 1;
                }
            }
        }
    }

}

@media (max-width: 780px) {
    .header {
        justify-content: space-between;

        &__menu-container {
            width: auto;
    
            .menu-mobile {
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: .5rem;
                font: {
                    weight: 400;
                    size: 1rem;
                }
                padding: 1rem 1.4rem;
                background-color: #fff;
                border: none;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                .hamburg {
                    width: 25px;
                    height: .6rem;
                    position: relative;
                    
                    &::after, &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: $dark-blue;
                        left: 0;
                        transition: .2s;
                    }
                    &::after {
                        top: 0;
                    }&::before {
                        bottom: 0;
                    }
                }
                
            }

            // ul
            .header__menu {
                display: none;
                position: absolute;
                overflow-y: hidden;
                top: 70px;
                left: 0;
                width: 100%;
                background-color: #fff;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.281);

                &-item {
                    margin: 0 5% ;
                    a {
                        padding: .6rem 0;
                        display: block;
                        border-bottom: 2px solid $dark-blue;
                    }
                    button {
                        float: left;
                        margin: .5rem 0;
                    }
                }
            }
        }
        
        &__menu-container.active {

            .header__menu {
                display: block;
                animation: animaHeigth .2s ;
            }

            .menu-mobile {
                .hamburg {
                    &::after {
                        transform: rotate(45deg);
                    }&::before {
                        bottom: auto;
                        transform: rotate(135deg);
                    }
                }
            }
        }

    }
}

@keyframes animaHeigth {
    from {
        top: 50px
    }
    to {
        top:70px;
    }
}