* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
  text-decoration: none;
}

p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  line-height: 1.7rem;
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: relative;
  padding: 1rem 7%;
}

.header-menu__container {
  width: 100%;
}

.header-menu__container .menu-mobile {
  display: none;
}

.header-menu__container .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__container .header-menu__item a {
  padding: .6rem 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.header-menu__container .header-menu__item a:hover {
  color: black;
}

.header-menu__container .header-menu__item button {
  text-overflow: ellipsis;
  padding: 1rem 1.4rem;
  background-color: #232169;
  color: white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 700;
  float: right;
}

.header-menu__container .header-menu__item button:hover {
  background-color: #1d1b57;
}

.header-menu__container .header-menu__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 780px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-menu__container {
    width: auto;
  }
  .header-menu__container .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    gap: .5rem;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem 0 1rem 1.4rem;
    background-color: #fff;
    border: none;
  }
  .header-menu__container .menu-mobile .hamburg {
    width: 25px;
    height: 2px;
    background-color: #232169;
    position: relative;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .header-menu__container .menu-mobile .hamburg::after, .header-menu__container .menu-mobile .hamburg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #232169;
    left: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .header-menu__container .menu-mobile .hamburg::after {
    top: -5px;
  }
  .header-menu__container .menu-mobile .hamburg::before {
    bottom: -5px;
  }
  .header-menu__container .header-menu {
    display: none;
    position: absolute;
    overflow-y: hidden;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.281);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.281);
  }
  .header-menu__container .header-menu__item {
    margin: 0 5%;
  }
  .header-menu__container .header-menu__item a {
    padding: .6rem 0;
    display: block;
    border-bottom: 2px solid #232169;
  }
  .header-menu__container .header-menu__item button {
    float: left;
    margin: .5rem 0;
  }
  .header-menu__container.active .header-menu {
    display: block;
    -webkit-animation: animaMenuEnter .2s;
            animation: animaMenuEnter .2s;
  }
  .header-menu__container.active .menu-mobile .hamburg {
    background-color: transparent;
  }
  .header-menu__container.active .menu-mobile .hamburg::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0%;
  }
  .header-menu__container.active .menu-mobile .hamburg::before {
    bottom: auto;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes animaMenuEnter {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 70px;
    opacity: 1;
  }
}

@keyframes animaMenuEnter {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 70px;
    opacity: 1;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  gap: 2rem;
}

.hero-text {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.hero-text h1 {
  font-size: max(40px, 3.8vw);
  color: #232169;
}

.hero-text__links button {
  text-overflow: ellipsis;
  padding: 1rem 1.4rem;
  background-color: #232169;
  color: white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 700;
}

.hero-text__links button:hover {
  background-color: #1d1b57;
}

.hero-text__links a {
  padding: 1rem 1.4rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}

.hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%;
  position: relative;
}

.hero-img::before {
  content: '';
  width: 100%;
  height: 200%;
  background-color: #47CCDF;
  position: absolute;
  right: 0;
  bottom: -1rem;
  z-index: -1;
}

.hero-img img {
  width: 95%;
}

.hero-merchan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.hero-merchan a {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
}

.hero-merchan a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 780px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-img {
    padding: 1.5rem 5%;
    max-width: 100%;
    text-align: center;
  }
  .hero-img::before {
    height: 100%;
    top: 0;
  }
  .hero-img img {
    width: 90%;
  }
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5%;
  gap: 2rem;
}

.clients-img {
  min-width: 50%;
}

.clients-img h1 {
  color: #232169;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.clients-img__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.clients-img__list__item {
  width: 50px;
}

.clients-img__list__item img {
  width: 100%;
}

.clients-text p {
  margin-bottom: 1rem;
}

@media (max-width: 780px) {
  .clients {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dashboard {
  padding: 3rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  background-color: #C4EEF2;
}

.dashboard-subtitle {
  color: #3B60BF;
  font-weight: 700;
}

.dashboard-title {
  color: #005661;
  font-size: 2rem;
}

.dashboard-btn {
  text-overflow: ellipsis;
  padding: 1rem 1.4rem;
  background-color: #232169;
  color: white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 700;
}

.dashboard-btn:hover {
  background-color: #1d1b57;
}

.dashboard-link-view-demo {
  padding: 1rem 1.4rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-link-view-demo:hover i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.dashboard-link-view-demo i {
  -webkit-transition: .2s;
  transition: .2s;
  margin-left: .5rem;
}

.dashboard .dashboard-rigth, .dashboard .dashboard-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .7rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 650px) {
  .dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
}

.footer {
  padding: 3rem 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1rem 1fr;
      grid-template-rows: 1rem 1fr;
  gap: 3rem;
}

.footer-logo {
  margin: 1rem 0;
  grid-column: span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.footer nav {
  grid-column: span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.footer-menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  font-size: 1.1rem;
}

.footer-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.footer-menu__item-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.footer-menu__item-ul-tittle {
  font-size: 1.15rem;
  font-weight: 700;
  color: #000;
}

.footer-menu__item-ul a {
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-menu__item-ul a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.footer-input {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer-input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gray;
  padding: 5px;
  border-radius: .2rem;
  margin-top: .5rem;
}

.footer-input__container input {
  max-width: 10rem;
  padding: auto .5rem;
  border: none;
  outline: transparent solid 1px;
  font-size: .9rem;
}

.footer-input__container button {
  text-overflow: ellipsis;
  padding: 1rem 1.4rem;
  background-color: #232169;
  color: white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 700;
}

.footer-input__container button:hover {
  background-color: #1d1b57;
}

@media (max-width: 750px) {
  .footer {
    -ms-grid-rows: 1rem 1fr 100px;
        grid-template-rows: 1rem 1fr 100px;
  }
  .footer nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    gap: 1rem;
  }
  .footer-input {
    grid-column: span 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.footer {
  padding: 3rem 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1rem 1fr;
      grid-template-rows: 1rem 1fr;
  gap: 3rem;
}

.footer-logo {
  margin: 1rem 0;
  grid-column: span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.footer nav {
  grid-column: span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.footer-menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  font-size: 1.1rem;
}

.footer-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.footer-menu__item-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

.footer-menu__item-ul-tittle {
  font-size: 1.15rem;
  font-weight: 700;
  color: #000;
}

.footer-menu__item-ul a {
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: .2s;
  transition: .2s;
}

.footer-menu__item-ul a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.footer-input {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer-input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid gray;
  padding: 5px;
  border-radius: .2rem;
  margin-top: .5rem;
}

.footer-input__container input {
  max-width: 10rem;
  padding: auto .5rem;
  border: none;
  outline: transparent solid 1px;
  font-size: .9rem;
}

.footer-input__container button {
  text-overflow: ellipsis;
  padding: 1rem 1.4rem;
  background-color: #232169;
  color: white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 700;
}

.footer-input__container button:hover {
  background-color: #1d1b57;
}

@media (max-width: 750px) {
  .footer {
    -ms-grid-rows: 1rem 1fr 100px;
        grid-template-rows: 1rem 1fr 100px;
  }
  .footer nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    gap: 1rem;
  }
  .footer-input {
    grid-column: span 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

.pricing-header {
  padding: 1rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.pricing-header h1 {
  font-size: 3.5rem;
}

.pricing-header p {
  font-size: 1.1rem;
  max-width: 650px;
  margin: .5rem  1rem;
}

.pricing-header .billed {
  margin: .8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.pricing-header .billed .span-monthly, .pricing-header .billed .span-yearly {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

.pricing-header .billed .span-monthly.active, .pricing-header .billed .span-yearly.active {
  color: rgba(0, 0, 0, 0.8);
}

.pricing-header .billed-inputs {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #338FFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.pricing-header .billed-inputs input {
  width: 50%;
  height: 100%;
  z-index: 4;
  display: none;
}

.pricing-header .billed-inputs::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100%;
  top: 4px;
  z-index: 0;
}

.pricing-header .billed-inputs.billed-monthly::before {
  left: 4px;
}

.pricing-header .billed-inputs.billed-yearly::before {
  right: 4px;
}

.container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 5%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.card {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: .2rem;
}

.card-price__price {
  font-size: 3rem;
  font-weight: 700;
}

.card-price__billed {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
}

.card p {
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
}

.card-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.card-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.card-btn {
  text-overflow: ellipsis;
  padding: 1rem 1.4rem;
  background-color: #232169;
  color: white;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 700;
}

.card-btn:hover {
  background-color: #1d1b57;
}
/*# sourceMappingURL=style.css.map */