$dark-blue: #232169;
$very-dark-blue: #1d1b57;
$light-blue: #47CCDF;
$light-text-color: rgba(0,0,0,.6);
$dark-text-color: rgba(0,0,0,.7);
$very-dark-text-color: rgba(0,0,0,.8);
$very-light-black: rgba(0, 0, 0, 0.2);
$dashboard-bg: #C4EEF2;
$dashboard-title: #005661;
$dashboard-subtitle: #3B60BF;