.container-card {
    @include center;
    @include padding;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
    border: 1px solid $very-light-black;
    border-radius: .2rem    ;

    &-price {
        &__price, .simbol-price {
            font: {
                size: 3rem;
                weight: 700;
            }
        }

        &__billed {
            color: rgba(0, 0, 0, 0.5);
            font-size: 1.2rem;
        }
    }
    
    p {
        color: $dark-text-color;
        border-bottom: 1px solid $very-light-black;
        padding-bottom: 1rem
    }

    &-benefits {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $light-text-color;

        &__item {
            @include flex-al-c;
            gap: 1rem;
        }
    }

    &-btn {
        @include btn;
    }

}