.clients {
    // @include padding;
    @include center;
    padding: 2rem 5%;
    gap: 2rem;

    &-img {
        min-width: 50%;
        h1 {
            color: $dark-blue;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            &__item {
                width: 50px;

                img {
                    width: 100%;
                }
            }
        }
    }

    &-text {
        p {
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: 780px) {
    .clients {
        margin: 0;
        flex-direction: column;
    }
}