.header {
    box-sizing: border-box;
    height: 70px;
    @include flex-al-c;
    gap: 1rem;
    position: relative;
    padding: 1rem 7% ;

    
    &-logo {

    }
    &-menu__container {
        width: 100% ;

        .menu-mobile {
            display: none;
        }

        .header-menu {
            @include flex-al-c;
            
            &__item {
                a {
                    padding: .6rem 1rem;
                    color: $light-text-color;
    
                    &:hover {
                        color: black
                    }
                }
    
                button {
                    @include btn;
                    float: right;
                }
                
                &:last-child {
                    flex-grow: 1;
                }
            }
        }
    }

}

@media (max-width: 780px) {
    .header {
        justify-content: space-between;

        &-menu__container {
            width: auto;
    
            .menu-mobile {
                @include flex-al-c;
                cursor: pointer;
                gap: .5rem;
                font: {
                    weight: 400;
                    size: 1rem;
                }
                padding: 1rem 0 1rem 1.4rem;
                background-color: #fff;
                border: none;

                .hamburg {
                    width: 25px;
                    height: 2px;
                    background-color: $dark-blue;
                    position: relative;
                    transition: .4s;
                    
                    &::after, &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: $dark-blue;
                        left: 0;
                        transition: .4s;
                    }
                    &::after {
                        top: -5px;
                    }&::before {
                        bottom: -5px;
                    }
                }
                
            }

            // ul
            .header-menu {
                display: none;
                position: absolute;
                overflow-y: hidden;
                top: 70px;
                left: 0;
                width: 100%;
                background-color: #fff;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.281);

                &__item {
                    margin: 0 5% ;
                    a {
                        padding: .6rem 0;
                        display: block;
                        border-bottom: 2px solid $dark-blue;
                    }
                    button {
                        float: left;
                        margin: .5rem 0;
                    }
                }
            }
        }
        
        &-menu__container.active {

            .header-menu {
                display: block;
                animation: animaMenuEnter .2s ;
            }

            .menu-mobile {
                .hamburg {
                    background-color: transparent;
                    &::after {
                        transform: rotate(45deg);
                        top: 0%;
                    }&::before {
                        // top0
                        bottom: auto;
                        transform: rotate(135deg);
                    }
                }
            }
        }

    }
}

@keyframes animaMenuEnter {
    from {
        top: 50px;
        opacity: 0;
    }
    to {
        top:70px;
        opacity: 1;
    }
}

